<body style='background-image: url("login.jpeg");background-size: 1450px 745px;background-repeat: no-repeat;'>

    <div class="login-container">

        <h2>Welcome</h2>

        {{#if messages.error}}
            <div class="alert alert-danger">{{messages.error}}</div>
        {{/if}}

        <div class="form-container">

            <form action="/login" method="post">
                <input autofocus type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <br>
                <button class="login-btn" type="submit">Login</button>
            </form>  

        </div>
    
    </div>
    
</body>